* {
    box-sizing: border-box;
  }

  .questions {
    width: 70%;
    float: left;
    padding: 15px;
    border: 1px solid orange;
    margin-right: 5%;
  }
  
  .quiz {
    width: 25%;
    float: right;
    padding: 15px;
    border: 1px solid yellow;
  }

  

