ul.topnav {
    list-style-type: none;
    margin-top: 1%;
    margin-bottom: 5%;
    padding: 0;
    overflow: hidden;
    background-color: #ce6d47;
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active) {background-color: #f8ebcb;}
  
  ul.topnav li a.active {background-color:#af412a; }
  
  ul.topnav li.right {float: right;}
  
  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }